In [3]:
#numpy ve pandas kütüphanelerini eklemek için import etme kodları
import pandas as pd
import numpy as np

In [10]:
#variable'ların tanımlanması

var_int = 100 #integer
var_int2 = 200 #integer

month_string="march" #string

var_float=10.0 #double(float)
type(var_int) #var'ın tipinin otomatik olarak atıldığını gösteren kod

int

In [38]:
#list'lerin tanımlanması


list_int=[1,2,3,4,5,6,7,8] # int değerli liste

type(list_int) #list'in tipi
list_str=["january", "february", "march"] # string değerli liste
type(list_str) #list'in tipi 
list_int[0] #0.indeks listenin ilk değerini gösterirken -1'. indeks son değerini gösterir
list_int[-1]
list_divide= list_int[0:2] #listenin ilk 0.indeksinden 2.indeksine kadar olan elemanları yazdırır
dir(list_int) # liste için kullanılabilen metodlar
list_int.append(9) #9'u listenin sonuna ekler.

list_int.remove(9) #9 listeden çıkartılır.

list_int.reverse() #listeyi ters çevirir
list_int
list_int.sort() #listeyi sıralar
list_int

[1, 2, 3, 4, 5, 6, 7, 8]

In [54]:

for i in range (1,10): # for döngüsü
    print(i)
    
print("")

for i in "antalya":
    
    print(i)

1
2
3
4
5
6
7
8
9

a
n
t
a
l
y
a

In [64]:
#for döngüsü

liste= [12,13,53,123,543,122,654,56]

sum(liste) #listedeki elemanları toplama metodu
    
liste2=[1,2,3,4,5,6,-500,23,451,67,21,23]  
        
min(liste2)  #en küçük eleman bulma metodu

minimum=100000
             
for i in liste2: # for döngüsüyle en küçük eleman bulma kodu
    
    if(i<minimum):
        
        minimum=i
        
    else:
        
        continue
        
minimum

-500

In [66]:
#conditionals
#if else statement

True == True #True

True == False #False

var1=100
var2=200

if (var1 == var2):
    
    print("var1=var2")
    
elif (var1 > var2):
    print("var1>var2")
    
else :
    
    print("var1<var2")
    

liste =[1,2,3,4,5]

value = 10

if value in liste:
    
    print("value değeri {} listenin içindedir.".format(value))
    
else:
    print("value değeri {} listenin içinde değildir.".format(value))

var1<var2
value değeri 10 listenin içinde değildir.

In [80]:
i=0

while (i<10):
    
    i = i+1
    if(i%2!=0):
        print(i)
#tek sayıları yazdırma

1
3
5
7
9

In [88]:
#default and flexible functions

# default function: çember alanı= pi*r^2

def cember_alan(r,pi=3.14): #burada pi sayısının değeri değişmeyeceği için default değer atandı.
    
   # cember_alan
    
   # parametreler:r,pi
    
   # output:çemberin alanı
 
    
    output = pi*r*r
    
    return output

cember_alan(10) #pi sayısı default olarak tanımlandığından fonksiyonda yeni değer yazılmaz.
#yarıçapı 10 olan bir çemberin alanı 314 çıkmaktadır.

314.0

In [94]:
#lambda function

def do_it(x):
    pi = 3.14
    output= x*pi*x
    
    return output

sonuc = do_it(3)
pi = 3.14
sonuc2 = lambda x: x*x*pi

print(sonuc2(3)) 

#iki fonksiyonda da çemberin alanı bulunur.

y = 4

z = lambda x:x*y

z(5) #20

28.26

20

In [102]:
#dictionary


dictionary = {"eren":26, "tuğçe":25, "damien":33}
#küçük bir database oluşturuldu.

type(dictionary) 

dictionary["eren"] #Eren'in yaşını verir(22).

type(dictionary["damien"]) #dictionary'deki Damien'in yaşının type'ı integerdır.

#eren, tuğçe, damien = keys
#25,25,33 = values

dictionary.keys() #dictionary'de tanımlı keyler verilir
#dict_keys(['eren', 'tuğçe', 'damien'])

dictionary.values() #dictionary'de tanımlı valuelar verilir.
#dict_values([26, 25, 33])

def deneme():
    
    dictionary = {"eren":26, "tuğçe":25, "damien":33}
    
    return dictionary

dic = deneme() #dic adında bir dictionary fonksiyon içerisinde oluşturuldu.

dic["damien"] #damien adlı key'in value'sunu verir(33).

33