In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
sl = pd.read_csv("C:/Users/eren_/Data/advertising.csv")

In [7]:
sl.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [34]:
sl.columns

Index(['Unnamed: 0', 'TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [35]:
sl.drop(['Unnamed: 0'],inplace = True, axis = 1)

In [37]:
sl.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [38]:
x = sl.drop('Sales', axis = 1)
y = sl['Sales']

In [39]:
from sklearn.model_selection import train_test_split

In [69]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [73]:
from sklearn.linear_model import LinearRegression

In [75]:
mlr = LinearRegression()

In [76]:
mlr.fit(X_train,y_train)

LinearRegression()

In [77]:
print("intercep", mlr.intercept_)
print("coefficents: ")
list(zip(x,mlr.coef_))

intercep 2.799020659529372
coefficents:

[('TV', -0.000374024861085445),
 ('Radio', 0.0446659966911142),
 ('Newspaper', 0.1966240828897916)]

In [80]:
y_pred = mlr.predict(X_test)
print("prediction{}".format(y_pred))

prediction[16.585975   21.21532322 21.69227359 10.78721853 22.24436064 13.30628235
 21.2504897   7.35896941 13.41395576 15.21479112  9.03101674  6.53873996
 14.38551706  8.94580619  9.53158119 12.07825531  8.87587732 16.23384905
 10.31667839 18.8497049  19.79672229 13.69754141 12.43554051 21.57865582
  7.69026184  5.68674887 20.9598931  11.90745906  9.12144274  8.48517263
 12.35724077 10.0227661  21.73331021 12.65125091 18.23409167 20.17501241
 14.19756077 21.01107333 10.89474985  4.43662297  9.60216605 12.49762923
 10.16879519  8.15899632 13.32316067  5.24178782  9.33060279 14.18410081
  8.74319968 11.67710859 15.65671046 11.72808538 13.24771147 11.05045257
  6.41295864  9.85860465  9.4443335  24.324371    7.66332787 12.31212277
 17.55637468 15.28145887 11.4813757  11.15185016 16.6268277   6.89967715]

In [84]:
mlr_dif = pd.DataFrame({"gerçek değer": y_test, "tahmin edilen": y_pred})

In [86]:
mlr_dif.head()

     gerçek değer  tahmin edilen
95           16.9      16.585975
15           22.4      21.215323
30           21.4      21.692274
158           7.3      10.787219
128          24.7      22.244361

In [92]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.8555434716491414